@font-face {
    font-family: Camo;
    src: url(/armalite.ttf);
}
@font-face {
    font-family: sq;
    src: url(/Squares\ Bold\ Free.otf);
}

body {
    background-color: var(--bg);
    --yel: #c0c162ff;
    --brow: #551b14ff;
    --bg: #989c94ff;
    --bla-gre: #00120bff;
    --blu: #133c55ff;

}

.que {
    color: var(--bla-gre);
    text-align: center;
    font-family: Camo;
    font-size: 1in;
}
.que2{
    color: var(--bla-gre);
    text-align: center;
    font-family: Camo;
    font-size: 0.75in;
}

.sides {
    color:  var(--bla-gre);
    text-align: center;
    font-family: sq;
}
button{
    font-family: Camo;
    
}