@font-face {
    font-family: Camo;
    src: url(/Camouflage.ttf);
}

body {
    background-color: var(--bg);
    --yel: #c0c162ff;
    --brow: #551b14ff;
    --bg: #989c94ff;
    --bla-gre: #00120bff;
    --blu: #133c55ff;

}

.que {
    color: var(--bla-gre);
    text-align: center;
    font-family: Camo;
}

.sides {
    color:  var(--bla-gre);
    text-align: center;
}